extend layout

block body
  a.btn.btn-default(href='/') 返回首页
  each folderContent, folderName in folderFiles
    h2 #{ folderName }
    br
    each file in folderContent
      a(href=file.path) #{ file.name }
      br
