extend layout

block body
  form(method='post', enctype='multipart/form-data', action='/upload_xlsx_for_extracting_json')
    .form-group
      label XLSX file
      input(type='file', name='xlsx')
    button.btn.btn-default(type='submit') чбошод
